@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

html {
  --background-color: $backgroundColor;
  --text-color: $textColor;
  --font-family: $fontFamily;
  --color-primary: $primaryColor;
  --color-accent: $accentColor;
  --color-danger: $dangerColor;
  font-size: 10px;
  background-color: $backgroundColor;
}

body {
  color: $textColor;
  font-family: $fontFamily;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 3.6rem;

  @media (min-width: 768px) {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 2.4rem;

  @media (min-width: 768px) {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 1.8rem;

  @media (min-width: 768px) {
    font-size: 2.4rem;
  }
}

p {
  font-size: 1.6rem;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.formGroup {
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.8rem;
    font-size: 1.8rem;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    background-color: rgba($color: $textColor, $alpha: 0.15);
    border: none;
    border-radius: 0.5rem;
    padding: 1.2rem 1.4rem;
    color: $textColor;
    transition: all 0.2s ease-in-out;

    @media (min-width: 768px) {
      padding: 1.4rem 1.6rem;
    }

    &:focus {
      outline: none;
      padding: 1.2rem 1.8rem;
      background-color: rgba($color: $textColor, $alpha: 0.2);

      @media (min-width: 768px) {
        padding: 1.4rem 2rem;
      }
    }
  }
}

.formButtons {
  text-align: right;
}

.formResources {
  margin-top: 3.6rem;
  font-size: 1.3rem;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 1.6rem;
  }

  a {
    color: var(--color-primary);
  }
}

.formError {
  color: $dangerColor;
  font-size: 1.1rem;
  margin-top: 0.8rem;

  @media screen and (min-width: 768px) {
    font-size: 1.3rem;
  }
}

.btn {
  color: $textColor;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.8rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  @media (min-width: 768px) {
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
  }
}

.btn-primary {
  background-color: rgba($color: $primaryColor, $alpha: 0.75);

  &:hover {
    background-color: transparent;
    @keyframes shimmer {
      0% {
        background-position: top left;
      }
      100% {
        background-position: bottom right;
      }
    }
    @include backgroundLinear;
    background-size: 300% 300%;
    animation-name: shimmer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
}

.btn-secondary {
  background-color: rgba($color: $textColor, $alpha: 0.15);

  &:hover {
    background-color: transparent;
    @keyframes shimmer {
      0% {
        background-position: top left;
      }
      100% {
        background-position: bottom right;
      }
    }
    @include backgroundLinear;
    background-size: 300% 300%;
    animation-name: shimmer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
}
