@use "../../styles/partials/mixins" as *;

.main {
  min-height: 100vh;
  @include backgroundRadial;
}

.content {
  padding: 24px 24px;

  @media screen and (min-width: 768px) {
    padding: 24px 56px;
  }
}
